*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-color: #b678ff;
}

#app {
  display: grid;
  place-items: center;
}

h1,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0; /* To remove default bottom margin */
  padding: 0; /* To remove default left padding */
}
